doctype html
html
    head
        title CARLINO
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header.header
            h1 CARLINO
        article.container Fanno schifo