
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Home" routerLinkActive="active-menu">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/current-weather-data"  routerLinkActive="active-menu">Meteo attuale</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/air-pullution"  routerLinkActive="active-menu">Inquinamento atmosferico</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/fire-weather-data"  routerLinkActive="active-menu">Indice incendi</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/forecast"  routerLinkActive="active-menu">Previsione</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/hourly-forecast"  routerLinkActive="active-menu">Previsione per ore</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/home"  routerLinkActive="active-menu">Home</a>
      </li>
    </ul>
  </nav>
  
  
  <div>
    <router-outlet> </router-outlet>
  </div>