<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercedes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container mt-3" >
    <h1 style="color: #C0C0C0">Mercedes</h1>
    <div class="card">
      <div class="card-body" *ngFor="let me of mercedes">
        <h5 class="card-title"><b>Modello: {{me.modello}}</b></h5>
        <p class="card-text">Colore: Grigio</p>
        <p class="card-text">Collezione: HW Turbo</p>
        <p class="card-text">Prezzo: 2,99€</p>
        <img src="https://a.allegroimg.com/s512/11f397/28f7d3f04ff1bb912beaa217e5e6/HOT-WHEELS-89-Mercedes-Benz-560-SEC-AMG-HKK85-N" width="250" length ="300" >
      </div>
    </div>
  </div>


