<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Porsche</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container mt-3" >
    <h1 style="color: #FFFF00">Porsche</h1>
    <div class="card">
      <div class="card-body" *ngFor="let p of porsche">
        <h5 class="card-title"><b>Modello: {{p.modello}}</b></h5>
        <p class="card-text">Colore: Arancione</p>
        <p class="card-text">Collezione: Retro Racers</p>
        <p class="card-text">Prezzo: 2,20€</p>
        <img src="https://a.allegroimg.com/original/118ab1/1d7481974040be8f179ced743b28/HOT-WHEELS-PORSCHE-911-CARRERA-RS-2-7-HW-RETRO-RACERS-2023" width="250" length ="300" ">
      </div>

      <div class="card-body" *ngFor="let p of porsche">
        <h5 class="card-title"><b>Modello: {{p.modello}}</b></h5>
        <p class="card-text">Colore: Rosso</p>
        <p class="card-text">Collezione: HW Exotics</p>
        <p class="card-text">Prezzo: 2,20€</p>
        <img src="https://a.allegroimg.com/s400/114663/c40855e84bef980ba5ffc8b1e3c1/HOT-WHEELS-PORSCHE-911-GT3-HKH97-HW-EXOTICS" width="250" length ="300" ">
      </div>

      <div class="card-body" *ngFor="let p of porsche">
        <h5 class="card-title"><b>Modello: {{p.modello}}</b></h5>
        <p class="card-text">Colore: Bianco</p>
        <p class="card-text">Collezione: Retro Racers</p>
        <p class="card-text">Prezzo: 1,79€</p>
        <img src="https://a.allegroimg.com/original/115975/a0a1b4dc499e9328caacfda57965/Samochodzik-Hot-Wheels-HKH06-71-Porsche-911" width="250" length ="300" ">
      </div>

      <div class="card-body" *ngFor="let p of porsche">
        <h5 class="card-title"><b>Modello: {{p.modello}}</b></h5>
        <p class="card-text">Colore: Bianco</p>
        <p class="card-text">Collezione: Retro Racers</p>
        <p class="card-text">Prezzo:1,79€ </p>
        <img src="https://a.allegroimg.com/original/11b5d7/943fd04249a5813df0922efab7d8/HW-PORSCHE-911-CARRERA-RS-2-7-Hot-Wheels" width="250" length ="300" ">
      </div>

      <div class="card-body" *ngFor="let p of porsche">
        <h5 class="card-title"><b>Modello: {{p.modello}}</b></h5>
        <p class="card-text">Colore: Grigio</p>
        <p class="card-text">Collezione: Baja Blazers</p>
        <p class="card-text">Prezzo: 2,99€</p>
        <img src="https://a.allegroimg.com/original/11d07d/33dfe15d45f1a554abc3742600e9/HOT-WHEELS-PORSCHE-928S-SAFARI-BAJA-BLAZERS-2023" width="250" length ="300" ">
      </div>

      <div class="card-body" *ngFor="let p of porsche">
        <h5 class="card-title"><b>Modello; {{p.modello}}</b></h5>
        <p class="card-text">Colore: Blu</p>
        <p class="card-text">Collezione: HW Exotics</p>
        <p class="card-text">Prezzo: 2,99€</p>
        <img src="https://a.allegroimg.com/original/11ba9e/87e8223b4a4a96aa1fc185e65e37/HOT-WHEELS-MODEL-METALOWY-PORSCHE-935-HW-EXOTICS-7-10" width="250" length ="300" ">
      </div>
    </div>
  </div>


