<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ford</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container mt-3" >
    <h1 style="color: #0000ff">Ford</h1>
    <div class="card">
      <div class="card-body" *ngFor="let f of ford">
        <h5 class="card-title"><b>Modello: {{f.modello}}</b></h5>
        <p class="card-text">Colore: Grigio</p>
        <p class="card-text">Collezione: The 80's</p>
        <p class="card-text">Prezzo: 2,20€</p>
        <img src="https://a.allegroimg.com/s400/113c2c/d8b2fe3449fe8630e3ec63c9fb62/HOT-WHEELS-FORD-SIERRA-COSWORTH-1987" width="250" length ="300" >
      </div>

      <div class="card-body" *ngFor="let f of ford">
        <h5 class="card-title"><b>Modello: {{f.modello}}</b></h5>
        <p class="card-text">Colore: Blu</p>
        <p class="card-text">Collezione: HW Drag Strip</p>
        <p class="card-text">Prezzo: 2,20€</p>
        <img src="https://a.allegroimg.com/original/110979/a3b599c442c087472f65db0e66f8/HOT-WHEELS-FORD-MUSTANG-MACH-E-1400-HW-DRAG-STRIP-2023" width="250" length ="300" ">
      </div>
    </div>
  </div>


