<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bmw</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container mt-3" >
  <h1 style="color: #0000ff">BMW</h1>
    <div class="card">
      <div class="card-body" *ngFor="let b of bmw">
        <h5 class="card-title"><b>Modello: {{b.modello}}</b></h5>
        <p class="card-text">Colore: Nero</p>
        <p class="card-text">Collezione: HW Roadsters</p>
        <p class="card-text">Prezzo: 2,99€</p>
        <img src="https://a.allegroimg.com/original/11bfd9/55cb6904492f9415c4e249b417f8/HOT-WHEELS-MODEL-BMW-I8-ROADSTERS-HW-ROADSTERS" width="250" length ="300" ">
      </div>
    </div>
  </div>


