<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gmc</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container mt-3" >
    <h1 style="color: #808080">GMC</h1>
    <div class="card">
      <div class="card-body" *ngFor="let g of gmc">
        <h5 class="card-title"><b>Modello: {{g.modello}}</b></h5>
        <p class="card-text">Colore: Grigio</p>
        <p class="card-text">Collezione: HW Screen Time</p>
        <p class="card-text">Prezzo: 2,50€</p>
        <img src="https://a.allegroimg.com/original/11bf43/63d0bae749d591ca288556f42560/HOT-WHEELS-BARBIE-2024-GMC-HUMMER-EV-HW-SCREEN" width="250" length ="300" >
      </div>
    </div>
  </div>


