<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aston_martin/title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container mt-3" >
    <h1 style="color: #FF0000">Aston Martin</h1>
    <div class="card">
      <div class="card-body" *ngFor="let am of aston-martin">
        <h5 class="card-title"><b>{{am.modello}}</b></h5>
        <p class="card-text">Colore: Rosso</p>
        <p class="card-text">Collezione: Retro Racers</p>
        <p class="card-text">Prezzo: 2,20€</p>
        <img src="https://a.allegroimg.com/original/112f1f/ee96ce804ce381cdfc5bb75e6043/HOT-WHEELS-ALFA-ROMEO-GTV6-3-0-GT-HW-RETRO-RACERS-2023" width="250" length ="300" >
      </div>
    </div>
  </div>




